In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', -1)

import os
import json
BASE_PATH = os.environ.get("BASE_PATH", os.path.join(os.sep, 'Projects', 'Python_projects', 'Covid19_Analysis'))
BASE_DATA_PATH = os.environ.get("BASE_DATA_PATH", os.path.join(os.sep, 'Projects', 'Python_projects', 'Covid19_Analysis', 'data'))

# Loading various Datasets

### timeseries

In [2]:
ts_df = pd.read_csv('https://api.covid19india.org/csv/latest/case_time_series.csv')
ts_df.shape

(458, 8)

In [ ]:
total_cases_df = ts_df[['Date', 'Date_YMD', 'Total Confirmed', 'Total Recovered', 'Total Deceased']]
daily_cases_df = ts_df[['Date', 'Date_YMD', 'Daily Confirmed', 'Daily Recovered', 'Daily Deceased']]

In [ ]:
total_cases_df.tail()

In [ ]:
tot = {
    'name': 'Total Confirmed',
    'x': list(total_cases_df['Date']),
    'y': list(total_cases_df['Total Confirmed'])
}
tot

In [ ]:
total_cases_df['Date_YMD'] = pd.to_datetime(total_cases_df['Date_YMD'])

### Statewise

In [9]:
state_df = pd.read_csv("https://api.covid19india.org/csv/latest/state_wise.csv")
# state_daily_df = pd.read_csv("https://api.covid19india.org/csv/latest/state_wise_daily.csv")
# state_wise_test_df = pd.read_csv("https://api.covid19india.org/csv/latest/statewise_tested_numbers_data.csv")
st_df = pd.read_csv("https://api.covid19india.org/csv/latest/states.csv")

In [10]:
state_df.drop('State_Notes', axis=1, inplace=True)
state_df.head()

,State,Confirmed,Recovered,Deaths,Active,Last_Updated_Time,Migrated_Other,State_code,Delta_Confirmed,Delta_Recovered,Delta_Deaths
0,Total,19549773,15981938,215524,3343860,2/5/2021 09:50:25,8451,TT,0,0,0
1,Maharashtra,4665754,3930302,69615,663758,01/05/2021 21:12:25,2079,MH,0,0,0
2,Kerala,1606820,1277294,5357,323827,01/05/2021 20:08:31,342,KL,0,0,0
3,Karnataka,1564132,1143250,15794,405068,01/05/2021 20:08:33,20,KA,0,0,0
4,Andhra Pradesh,1121102,982297,8053,130752,01/05/2021 20:34:31,0,AP,0,0,0

In [49]:
state_df['Delta_Confirmed'].value_counts()

0    38
Name: Delta_Confirmed, dtype: int64

In [27]:
stt = state_df.sort_values('Confirmed', ascending=False)[['State', 'Confirmed']][1:]
l = list(stt['State'][:10])
l

['Maharashtra',
 'Kerala',
 'Karnataka',
 'Uttar Pradesh',
 'Tamil Nadu',
 'Delhi',
 'Andhra Pradesh',
 'West Bengal',
 'Chhattisgarh',
 'Rajasthan']

In [45]:
samp = st_df[st_df['State'] == 'Maharashtra']

In [48]:
st_df.head()

         Date   State  Confirmed  Recovered  Deceased  Other  Tested
0  2020-01-30  Kerala  1          0          0         0     NaN
1  2020-01-30  India   1          0          0         0     NaN
2  2020-02-02  Kerala  2          0          0         0     NaN
3  2020-02-02  India   2          0          0         0     NaN
4  2020-02-03  Kerala  3          0          0         0     NaN

In [46]:
samp.tail()

,Date,State,Confirmed,Recovered,Deceased,Other,Tested
14747,2021-04-27,Maharashtra,4410085,3669548,66179,1924,26254737.0
14784,2021-04-28,Maharashtra,4473394,3730729,67214,1970,26527862.0
14821,2021-04-29,Maharashtra,4539553,3799266,67985,2001,26816075.0
14858,2021-04-30,Maharashtra,4602472,3868976,68813,2043,27106282.0
14895,2021-05-01,Maharashtra,4665754,3930302,69615,2079,27395288.0

In [5]:
for col in samp.columns[2:]:
    samp[f'Daily {" ".join(col.split())}'] = samp[col].diff()
    
samp.fillna(0.0, axis=1, inplace=True)

c:\projects\virtual_env\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\projects\virtual_env\lib\site-packages\pandas\core\frame.py:4259: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  **kwargs

In [6]:
samp.tail()

,Date,State,Confirmed,Recovered,Deceased,Other,Tested,Daily Confirmed,Daily Recovered,Daily Deceased,Daily Other,Daily Tested
14747,2021-04-27,Maharashtra,4410085,3669548,66179,1924,26254737.0,66358.0,67752.0,895.0,47.0,282719.0
14784,2021-04-28,Maharashtra,4473394,3730729,67214,1970,26527862.0,63309.0,61181.0,1035.0,46.0,273125.0
14821,2021-04-29,Maharashtra,4539553,3799266,67985,2001,26816075.0,66159.0,68537.0,771.0,31.0,288213.0
14858,2021-04-30,Maharashtra,4602472,3868976,68813,2043,27106282.0,62919.0,69710.0,828.0,42.0,290207.0
14895,2021-05-01,Maharashtra,4665754,3930302,69615,2079,27395288.0,63282.0,61326.0,802.0,36.0,289006.0

In [7]:
state_df.tail()

,State,Confirmed,Recovered,Deaths,Active,Last_Updated_Time,Migrated_Other,State_code,Delta_Confirmed,Delta_Recovered,Delta_Deaths
33,Andaman and Nicobar Islands,6046,5773,68,205,01/05/2021 23:53:43,0,AN,0,0,0
34,Mizoram,6132,4926,15,1191,01/05/2021 13:30:27,0,MZ,0,0,0
35,Dadra and Nagar Haveli and Daman and Diu,7873,5826,4,2011,01/05/2021 22:25:58,32,DN,0,0,0
36,Lakshadweep,2923,1471,4,1438,01/05/2021 22:26:00,10,LD,0,0,0
37,State Unassigned,0,0,0,0,19/07/2020 09:40:01,0,UN,0,0,0

In [ ]:
state_df.drop('State_Notes', axis=1, inplace=True)

In [ ]:
st_list = list(state_df['State'][1:])

In [ ]:
state_df.head()

In [ ]:
ss = dict(state_df.loc[1, :])
ss
# ss = {column: col_val for column, col_val in ss.items() if column != 'State'}

In [ ]:
{k:vv for k,v in ss.items() for kk,vv in v.items() if k != "State"}

In [ ]:
state_code_mapper = {k:v for k,v in zip(state_df['State_code'], state_df['State'])}
state_code_mapper

In [ ]:
with open(f'{BASE_DATA_PATH}\\default_objects\\state_code_mapper.json', 'w', encoding='utf-8') as fp:
    json.dump(state_code_mapper, fp)

In [ ]:
state_daily_df.columns = [state_code_mapper.get(i,i) for i in state_daily_df.columns]
state_daily_df.drop('State Unassigned', axis=1, inplace=True)

In [ ]:
x = st_df[st_df['State'] == 'Maharashtra']
x.fillna(0.0, axis=1, inplace=True)
x.tail()

In [ ]:
import gc
gc.collect()

In [ ]:
import gc 
gc.collect()

### Districts

In [ ]:
dist_df = pd.read_csv("https://api.covid19india.org/csv/latest/districts.csv")
dist_df.head()

In [ ]:
dist_df[(dist_df['State'] == 'Maharashtra') & (dist_df['District'] == 'Ahmednagar')]

In [ ]:
dd = pd.read_csv("https://api.covid19india.org/csv/latest/district_wise.csv")
dd.head()

In [ ]:
dd[(dd['State'] == 'Maharashtra') & (dd['District'] == 'Ahmednagar')]

## MASTER DATA - beds, ventilators

#### - Most of the data is NAN

In [ ]:
df = pd.read_csv("https://api.covid19india.org/csv/latest/statewise_tested_numbers_data.csv")

In [ ]:
df.tail()

In [ ]:
bed_cols = [i for i in df.columns if "bed" in i.lower()]
bed_df = df[["Updated On", "State"] + ['People on Ventilator', 'Total Num Ventilators'] + bed_cols]
bed_df.shape

In [ ]:
bed_df[bed_df['State'] == "Delhi"].tail(20)

In [ ]:
[i for i in df.columns if "ventilator" in i.lower()]

In [ ]:
df[df['State'] == 'Mah'].tail(50)

## Vaccine data

In [16]:
vdf = pd.read_csv("http://api.covid19india.org/csv/latest/cowin_vaccine_data_statewise.csv")

In [19]:
vdf.dropna(subset=[i for i in vdf.columns if i not in ['Total Doses Administered', 'Updated On', 'State']], axis=0, how='all', inplace=True)

In [21]:
vdf[vdf['State'] == 'Maharashtra']

,Updated On,State,Total Individuals Vaccinated,Total Sessions Conducted,Total Sites,First Dose Administered,Second Dose Administered,Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Covaxin Administered,Total CoviShield Administered,AEFI,18-30 years (Age),30-45 years (Age),45-60 years (Age),60+ years (Age),Total Doses Administered
2350,16/01/2021,Maharashtra,5726.0,179.0,174.0,5726.0,0.0,3668.0,2057.0,1.0,85.0,5641.0,NaN,NaN,NaN,NaN,NaN,5726
2351,17/01/2021,Maharashtra,6521.0,269.0,216.0,6521.0,0.0,3953.0,2566.0,2.0,94.0,6427.0,NaN,NaN,NaN,NaN,NaN,6521
2352,18/01/2021,Maharashtra,6151.0,772.0,320.0,6151.0,0.0,3569.0,2581.0,1.0,105.0,6046.0,NaN,NaN,NaN,NaN,NaN,6151
2353,19/01/2021,Maharashtra,13699.0,1196.0,340.0,13699.0,0.0,6328.0,7367.0,4.0,214.0,13485.0,NaN,NaN,NaN,NaN,NaN,13699
2354,20/01/2021,Maharashtra,23880.0,1547.0,347.0,23880.0,0.0,9658.0,14205.0,17.0,439.0,23441.0,NaN,NaN,NaN,NaN,NaN,23880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2454,30/04/2021,Maharashtra,13561437.0,822120.0,5577.0,13561437.0,2622410.0,7294154.0,6265566.0,1717.0,1811340.0,14372507.0,NaN,NaN,NaN,NaN,NaN,16183847
2455,01/05/2021,Maharashtra,13637082.0,718001.0,4803.0,13637082.0,2655671.0,7336072.0,6299281.0,1729.0,1819842.0,14472911.0,3690.0,490409.0,1284189.0,6245315.0,5615842.0,16292753
2456,02/05/2021,Maharashtra,13677591.0,571836.0,3628.0,13677591.0,2665223.0,7360208.0,6315650.0,1733.0,1822158.0,14520656.0,3697.0,501503.0,1294982.0,6260563.0,5619437.0,16342814
2457,03/05/2021,Maharashtra,13739753.0,723175.0,4789.0,13739753.0,2686134.0,7396138.0,6341872.0,1743.0,1831851.0,14594036.0,3715.0,518334.0,1316349.0,6275584.0,5628380.0,16425887
2458,04/05/2021,Maharashtra,13799328.0,551024.0,4017.0,13799328.0,2729017.0,7430828.0,6366715.0,1785.0,1842007.0,14686338.0,3727.0,536923.0,1339399.0,6286649.0,5635218.0,16528345

In [11]:
vdf.dropna(how='all', inplace=True)

In [ ]:
vdf = vdf[['Updated On', 'State', 'Total Individuals Registered', 'First Dose Administered', 'Second Dose Administered', 'Male(Individuals Vaccinated)', 'Female(Individuals Vaccinated)',
          'Transgender(Individuals Vaccinated)', 'Total Covaxin Administered', 'Total CoviShield Administered', 'Total Doses Administered']]

In [ ]:
vdf.rename(columns={'Male(Individuals Vaccinated)': 'Male', 'Female(Individuals Vaccinated)': 'Female', 'Transgender(Individuals Vaccinated)': 'Transgender'}, inplace=True)

In [ ]:
x = vdf[vdf['State'] == 'Maharashtra'].to_dict()
xx = {k:list(v.values()) for k,v in x.items()}
xx

In [ ]:
temp = dict(ddf[ddf['State'] == 'Maharashtra'].iloc[0])
tp = {
    "state": temp.pop("State"),
    "x": list(temp.keys()),
    "y": list(temp.values())
}
tp

In [ ]:
vdf.head()

In [ ]:
for col in vdf.columns[2:]:
    vdf[f'delta_{"_".join(col.split())}'.lower()] = vdf[col].diff()

# Getting all delta values

In [ ]:
samp = vdf[vdf['State'] == 'Kerela']

In [ ]:
samp.tail(4)

In [ ]:
for col in samp.columns[2:]:
    samp[f'delta_{"_".join(col.split())}'.lower()] = samp[col].diff()
    
samp.fillna(0.0, axis=1, inplace=True)

In [ ]:
samp.head()

# Statistics of Vaccine administration

In [ ]:
samp.describe().apply(lambda s: s.apply('{0:.5f}'.format))

In [ ]:
ss = samp.describe().apply(lambda s: s.apply('{0:.5f}'.format))

In [ ]:
ss.to_dict()

In [ ]:
samp.columns[2:]

In [ ]:
tot = vdf[vdf['State'] == 'India']

In [ ]:
vdf.head()

In [ ]:
tot_dd = dict(vdf[vdf['State'] == "India"].iloc[0])

In [ ]:
tot_dd

In [ ]:
vdf.head()

In [ ]:
samp = vdf[vdf['State'] == 'India']

In [ ]:
samp.describe().apply(lambda s: s.apply('{0:.5f}'.format)).to_dict()

In [16]:
class A:
    def xxx(self, xx=2):
        self.x = xx  
    
    def y(self):
        print(self.x)

In [17]:
s = A()
s.xxx()

In [20]:
s.y()

22

In [19]:
s.xxx(xx=22)

In [21]:
s2  = A()

In [22]:
s2.xxx(123)

In [23]:
s.y()

22

In [24]:
s2.y()

123