In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Loading various Datasets

### timeseries

In [25]:
ts_df = pd.read_csv('https://api.covid19india.org/csv/latest/case_time_series.csv')
ts_df.shape

(444, 8)

In [26]:
total_cases_df = ts_df[['Date', 'Date_YMD', 'Total Confirmed', 'Total Recovered', 'Total Deceased']]
daily_cases_df = ts_df[['Date', 'Date_YMD', 'Daily Confirmed', 'Daily Recovered', 'Daily Deceased']]

In [27]:
total_cases_df.tail()

,Date,Date_YMD,Total Confirmed,Total Recovered,Total Deceased
439,13 April 2021,2021-04-13,13871431,12332564,171524
440,14 April 2021,2021-04-14,14071015,12425989,172562
441,15 April 2021,2021-04-15,14287843,12543886,173746
442,16 April 2021,2021-04-16,14521845,12666772,175084
443,17 April 2021,2021-04-17,14782740,12804981,176582

### Statewise

In [12]:
state_df = pd.read_csv("https://api.covid19india.org/csv/latest/state_wise.csv")
state_daily_df = pd.read_csv("https://api.covid19india.org/csv/latest/state_wise_daily.csv")
state_wise_test_df = pd.read_csv("https://api.covid19india.org/csv/latest/statewise_tested_numbers_data.csv")
st_df = pd.read_csv("https://api.covid19india.org/csv/latest/states.csv")

In [14]:
state_df.head()

,State,Confirmed,Recovered,Deaths,Active,Last_Updated_Time,Migrated_Other,State_code,Delta_Confirmed,Delta_Recovered,Delta_Deaths,State_Notes
0,Total,14792362,12806991,177193,1801951,18/4/2021 13:28:55,6227,TT,9539,1844,20,NaN
1,Maharashtra,3770707,3061174,59970,647933,17/04/2021 20:41:54,1630,MH,0,0,0,"[Dec 16]:10,218 duplicate cases & other state ..."
2,Kerala,1221168,1135921,4905,80016,18/04/2021 13:28:56,326,KL,0,0,0,Mahe native who expired in Kannur included in ...
3,Karnataka,1141998,1009549,13270,119160,17/04/2021 19:26:58,19,KA,0,0,0,NaN
4,Andhra Pradesh,955455,907598,7388,40469,17/04/2021 18:17:58,0,AP,0,0,0,NaN

In [19]:
st_df.tail()

,Date,State,Confirmed,Recovered,Deceased,Other,Tested
14427,2021-04-18,Tripura,33999,33137,391,23,662606.0
14428,2021-04-18,India,14792362,12806991,177193,6227,266538416.0
14429,2021-04-18,Uttar Pradesh,821054,641292,9703,0,38029865.0
14430,2021-04-18,Uttarakhand,121403,101659,1856,2502,3300338.0
14431,2021-04-18,West Bengal,651508,595668,10540,0,9762086.0

In [20]:
state_daily_df.tail()

,Date,Date_YMD,Status,TT,AN,AP,AR,AS,BR,CH,CT,DN,DD,DL,GA,GJ,HR,HP,JK,JH,KA,KL,LA,LD,MP,MH,MN,ML,MZ,NL,OR,PY,PB,RJ,SK,TN,TG,TR,UP,UT,WB,UN
1195,16-Apr-21,2021-04-16,Recovered,122886,28,2194,2,113,1853,428,12240,25,0,12649,282,3387,2958,484,562,1393,4027,3792,47,11,7496,45335,7,12,5,2,952,220,3129,2791,10,4920,1198,7,6429,1080,2818,0
1196,16-Apr-21,2021-04-16,Deceased,1338,0,20,0,4,13,1,138,0,0,141,6,94,20,9,2,56,78,21,0,0,60,398,0,1,0,1,3,3,50,31,0,33,9,0,103,17,26,0
1197,17-Apr-21,2021-04-17,Confirmed,260895,42,7224,19,876,7870,431,16083,108,0,24375,762,9541,7717,1392,1145,3838,17489,13835,362,106,11269,67123,39,95,62,32,3144,715,4431,9046,72,9344,4446,58,27334,2757,7713,0
1198,17-Apr-21,2021-04-17,Recovered,138209,36,2332,6,149,1804,438,9828,25,0,15414,436,3783,2944,656,852,1234,5564,3654,53,5,6497,56783,14,11,1,0,1303,198,2615,2823,4,5263,1414,11,7831,802,3426,0
1199,17-Apr-21,2021-04-17,Deceased,1498,1,15,0,2,34,2,158,0,0,167,4,97,32,12,3,30,80,27,1,0,66,419,0,0,0,0,4,3,62,37,0,39,12,0,120,37,34,0

In [24]:
state_wise_test_df.shape

(12416, 55)

### Districts

In [28]:
dist_df = pd.read_csv('https://api.covid19india.org/csv/latest/districts.csv')

In [30]:
dist_df.tail()

,Date,State,District,Confirmed,Recovered,Deceased,Other,Tested
229124,2021-04-18,West Bengal,Purba Bardhaman,14196,13051,106,0,NaN
229125,2021-04-18,West Bengal,Purba Medinipur,21916,20909,281,0,NaN
229126,2021-04-18,West Bengal,Purulia,8740,7691,52,0,NaN
229127,2021-04-18,West Bengal,South 24 Parganas,41890,38393,727,0,NaN
229128,2021-04-18,West Bengal,Uttar Dinajpur,7548,6941,78,0,NaN

In [33]:
dd = pd.read_csv('http://api.covid19india.org/csv/latest/cowin_vaccine_data_statewise.csv')

,Updated On,State,Total Individuals Registered,Total Sessions Conducted,Total Sites,First Dose Administered,Second Dose Administered,Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Covaxin Administered,Total CoviShield Administered,Total Individuals Vaccinated,Total Doses Administered
0,16/01/2021,India,6943622.0,3455.0,2957.0,48276.0,0.0,23757.0,24517.0,2.0,579.0,47697.0,48276.0,48276.0
1,17/01/2021,India,7119567.0,8532.0,4954.0,58604.0,0.0,27348.0,31252.0,4.0,635.0,57969.0,58604.0,58604.0
2,18/01/2021,India,7150780.0,13611.0,6583.0,99449.0,0.0,41361.0,58083.0,5.0,1299.0,98150.0,99449.0,99449.0
3,19/01/2021,India,7423057.0,17855.0,7951.0,195525.0,0.0,81901.0,113613.0,11.0,3017.0,192508.0,195525.0,195525.0
4,20/01/2021,India,7555207.0,25472.0,10504.0,251280.0,0.0,98111.0,153145.0,24.0,3946.0,247334.0,251280.0,251280.0

In [35]:
dd[dd['State'] == 'Maharashtra']

,Updated On,State,Total Individuals Registered,Total Sessions Conducted,Total Sites,First Dose Administered,Second Dose Administered,Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Covaxin Administered,Total CoviShield Administered,Total Individuals Vaccinated,Total Doses Administered
1953,16/01/2021,Maharashtra,812649.0,179.0,174.0,5726.0,0.0,3668.0,2057.0,1.0,85.0,5641.0,5726.0,5726.0
1954,17/01/2021,Maharashtra,814714.0,269.0,216.0,6521.0,0.0,3953.0,2566.0,2.0,94.0,6427.0,6521.0,6521.0
1955,18/01/2021,Maharashtra,811257.0,772.0,320.0,6151.0,0.0,3569.0,2581.0,1.0,105.0,6046.0,6151.0,6151.0
1956,19/01/2021,Maharashtra,850966.0,1196.0,340.0,13699.0,0.0,6328.0,7367.0,4.0,214.0,13485.0,13699.0,13699.0
1957,20/01/2021,Maharashtra,870296.0,1547.0,347.0,23880.0,0.0,9658.0,14205.0,17.0,439.0,23441.0,23880.0,23880.0
1958,21/01/2021,Maharashtra,880118.0,1820.0,357.0,24148.0,0.0,9784.0,14347.0,17.0,443.0,23705.0,24148.0,24148.0
1959,22/01/2021,Maharashtra,902635.0,2012.0,374.0,44369.0,0.0,16546.0,27802.0,21.0,840.0,43529.0,44369.0,44369.0
1960,23/01/2021,Maharashtra,921922.0,2435.0,483.0,69295.0,0.0,25333.0,43937.0,25.0,1156.0,68139.0,69295.0,69295.0
1961,24/01/2021,Maharashtra,925794.0,2756.0,581.0,70196.0,0.0,25661.0,44510.0,25.0,1157.0,69039.0,70196.0,70196.0
1962,25/01/2021,Maharashtra,950534.0,3170.0,617.0,107073.0,0.0,38512.0,68527.0,34.0,1433.0,105640.0,107073.0,107073.0
1963,26/01/2021,Maharashtra,952905.0,3435.0,646.0,107338.0,0.0,38562.0,68728.0,48.0,1433.0,105905.0,107338.0,107338.0
1964,27/01/2021,Maharashtra,980122.0,4050.0,668.0,150102.0,0.0,53245.0,96795.0,62.0,1642.0,148460.0,150102.0,150102.0
1965,28/01/2021,Maharashtra,1005606.0,4570.0,685.0,189743.0,0.0,66834.0,122840.0,69.0,1893.0,187850.0,189743.0,189743.0
1966,29/01/2021,Maharashtra,1032941.0,4814.0,702.0,225132.0,0.0,79060.0,145999.0,73.0,2193.0,222939.0,225132.0,225132.0
1967,30/01/2021,Maharashtra,1044581.0,5150.0,723.0,233693.0,0.0,82464.0,151156.0,73.0,2282.0,231411.0,233693.0,233693.0
1968,31/01/2021,Maharashtra,1049628.0,5309.0,733.0,234150.0,0.0,82628.0,151449.0,73.0,2282.0,231868.0,234150.0,234150.0
1969,01/02/2021,Maharashtra,1075255.0,5753.0,744.0,275348.0,0.0,99441.0,175829.0,78.0,2708.0,272640.0,275348.0,275348.0
1970,02/02/2021,Maharashtra,1083981.0,6234.0,778.0,284107.0,0.0,103217.0,180812.0,78.0,2760.0,281347.0,284107.0,284107.0
1971,03/02/2021,Maharashtra,1106384.0,6895.0,830.0,318918.0,0.0,117360.0,201467.0,91.0,3170.0,315748.0,318918.0,318918.0
1972,04/02/2021,Maharashtra,1132718.0,7584.0,874.0,352676.0,0.0,131909.0,220669.0,98.0,3691.0,348985.0,352676.0,352676.0
1973,05/02/2021,Maharashtra,1168259.0,8449.0,926.0,397889.0,0.0,152168.0,245610.0,111.0,3942.0,393947.0,397889.0,397889.0
1974,06/02/2021,Maharashtra,1222846.0,9141.0,955.0,436229.0,0.0,171578.0,264525.0,126.0,4205.0,432024.0,436229.0,436229.0
1975,07/02/2021,Maharashtra,1265771.0,9455.0,969.0,436400.0,0.0,171672.0,264602.0,126.0,4206.0,432194.0,436400.0,436400.0
1976,08/02/2021,Maharashtra,1316860.0,10161.0,1027.0,475193.0,0.0,192223.0,282839.0,131.0,4472.0,470721.0,475193.0,475193.0
1977,09/02/2021,Maharashtra,1353214.0,11054.0,1109.0,503757.0,0.0,210039.0,293586.0,132.0,4732.0,499025.0,503757.0,503757.0
1978,10/02/2021,Maharashtra,1395113.0,12032.0,1147.0,544726.0,0.0,234241.0,310353.0,132.0,4877.0,539849.0,544726.0,544726.0
1979,11/02/2021,Maharashtra,1443232.0,12846.0,1205.0,579241.0,0.0,255793.0,323314.0,134.0,5018.0,574223.0,579241.0,579241.0
1980,12/02/2021,Maharashtra,1498065.0,13641.0,1227.0,620539.0,0.0,281870.0,338533.0,136.0,5258.0,615281.0,620539.0,620539.0
1981,13/02/2021,Maharashtra,1546635.0,14251.0,1239.0,652801.0,170.0,303019.0,349645.0,137.0,5403.0,647398.0,652801.0,652971.0
1982,14/02/2021,Maharashtra,1555831.0,14559.0,1254.0,653135.0,170.0,303296.0,349702.0,137.0,5403.0,647732.0,653135.0,653305.0
1983,15/02/2021,Maharashtra,1609707.0,15389.0,1270.0,682610.0,4527.0,322414.0,360058.0,138.0,5771.0,676839.0,682610.0,687137.0
1984,16/02/2021,Maharashtra,1671062.0,16315.0,1286.0,711043.0,8901.0,341277.0,369626.0,140.0,6176.0,704867.0,711043.0,719944.0
1985,17/02/2021,Maharashtra,1762055.0,17230.0,1320.0,752088.0,16607.0,367162.0,384760.0,166.0,6713.0,745375.0,752088.0,768695.0
1986,18/02/2021,Maharashtra,1726304.0,17972.0,1331.0,787086.0,23820.0,395447.0,391467.0,172.0,7323.0,779763.0,787086.0,810906.0
1987,19/02/2021,Maharashtra,1842069.0,18682.0,1343.0,825846.0,27528.0,415984.0,409681.0,181.0,7694.0,818152.0,825846.0,853374.0
1988,20/02/2021,Maharashtra,1851654.0,19394.0,1347.0,868244.0,45414.0,445173.0,422875.0,196.0,8295.0,859949.0,868244.0,913658.0
1989,21/02/2021,Maharashtra,1853272.0,19869.0,1352.0,871567.0,46395.0,446831.0,424540.0,196.0,8332.0,863235.0,871567.0,917962.0
1990,22/02/2021,Maharashtra,1858133.0,20789.0,1368.0,907200.0,67861.0,472516.0,434486.0,198.0,9341.0,897859.0,907200.0,975061.0
1991,23/02/2021,Maharashtra,1861115.0,21730.0,1380.0,938078.0,79336.0,494986.0,442893.0,199.0,10284.0,927794.0,938078.0,1017414.0
1992,24/02/2021,Maharashtra,1862473.0,22574.0,1386.0,969314.0,104475.0,516434.0,452680.0,200.0,11427.0,957887.0,969314.0,1073789.0
1993,25/02/2021,Maharashtra,1863176.0,23689.0,1395.0,997308.0,130773.0,536075.0,461032.0,201.0,12205.0,985103.0,997308.0,1128081.0
1994,26/02/2021,Maharashtra,1851874.0,24016.0,1399.0,1028360.0,158658.0,557475.0,470681.0,204.0,13184.0,1015176.0,1028360.0,1187018.0
1995,27/02/2021,Maharashtra,1851874.0,24016.0,1399.0,1028365.0,158658.0,557480.0,470681.0,204.0,13184.0,1015181.0,1028365.0,1187023.0
1996,28/02/2021,Maharashtra,1851875.0,24508.0,1407.0,1028520.0,158658.0,557603.0,470713.0,204.0,13184.0,1015336.0,1028520.0,1187178.0
1997,01/03/2021,Maharashtra,1851875.0,26315.0,1464.0,1028520.0,158658.0,557603.0,470713.0,204.0,13184.0,1015336.0,1028520.0,1187178.0
1998,02/03/2021,Maharashtra,1888015.0,29090.0,1560.0,1071612.0,179807.0,583429.0,487976.0,207.0,14917.0,1056695.0,1071612.0,1251419.0
1999,03/03/2021,Maharashtra,1932294.0,35097.0,1892.0,1119835.0,197501.0,611358.0,508266.0,211.0,16279.0,1103556.0,1119835.0,1317336.0
2000,04/03/2021,Maharashtra,1986198.0,39672.0,2084.0,1174258.0,213731.0,641880.0,532164.0,214.0,18652.0,1155606.0,1174258.0,1387989.0
2001,05/03/2021,Maharashtra,2055271.0,46743.0,2341.0,1244617.0,234417.0,680964.0,563432.0,221.0,20513.0,1224104.0,1244617.0,1479034.0
2002,06/03/2021,Maharashtra,2132554.0,54326.0,2757.0,1325264.0,259577.0,725150.0,599889.0,225.0,22376.0,1302888.0,1325264.0,1584841.0
2003,07/03/2021,Maharashtra,2138958.0,59458.0,3143.0,1331000.0,260448.0,728051.0,602724.0,225.0,22432.0,1308568.0,1331000.0,1591448.0
2004,08/03/2021,Maharashtra,2264315.0,64230.0,3409.0,1454112.0,285711.0,793934.0,659947.0,231.0,27182.0,1426930.0,1454112.0,1739823.0
2005,09/03/2021,Maharashtra,2346229.0,69245.0,3540.0,1536355.0,305927.0,839907.0,696211.0,237.0,29698.0,1506657.0,1536355.0,1842282.0
2006,10/03/2021,Maharashtra,2497828.0,74564.0,3644.0,1687750.0,338709.0,922488.0,765016.0,246.0,36551.0,1651199.0,1687750.0,2026459.0
2007,11/03/2021,Maharashtra,2544598.0,77797.0,3700.0,1734147.0,348804.0,947989.0,785912.0,246.0,37223.0,1696924.0,1734147.0,2082951.0
2008,12/03/2021,Maharashtra,2712459.0,83421.0,3761.0,1900122.0,383425.0,1039801.0,860063.0,258.0,45358.0,1854764.0,1900122.0,2283547.0
2009,13/03/2021,Maharashtra,2817264.0,88612.0,3834.0,2006329.0,411776.0,1097386.0,908680.0,263.0,51243.0,1955086.0,2006329.0,2418105.0
2010,14/03/2021,Maharashtra,2823848.0,93180.0,3952.0,2013155.0,412322.0,1101171.0,911720.0,264.0,52018.0,1961137.0,2013155.0,2425477.0
2011,15/03/2021,Maharashtra,3015787.0,98703.0,4038.0,2198788.0,444527.0,1201925.0,996578.0,285.0,70402.0,2128386.0,2198788.0,2643315.0
2012,16/03/2021,Maharashtra,3133701.0,104159.0,4186.0,2318045.0,468829.0,1267600.0,1050150.0,295.0,95792.0,2222253.0,2318045.0,2786874.0
2013,17/03/2021,Maharashtra,3324908.0,110445.0,4388.0,2509141.0,500559.0,1370232.0,1138601.0,308.0,136887.0,2372254.0,2509141.0,3009700.0
2014,18/03/2021,Maharashtra,3460018.0,115988.0,4587.0,2643307.0,525974.0,1444310.0,1198684.0,313.0,184321.0,2458986.0,2643307.0,3169281.0
2015,19/03/2021,Maharashtra,3630326.0,121704.0,4736.0,2804796.0,556400.0,1532302.0,1272175.0,319.0,229857.0,2574939.0,2804796.0,3361196.0
2016,20/03/2021,Maharashtra,3769799.0,126710.0,4868.0,2948586.0,589256.0,1610335.0,1337923.0,328.0,289094.0,2659492.0,2948586.0,3537842.0
2017,21/03/2021,Maharashtra,3788740.0,130814.0,5005.0,2974365.0,593986.0,1624500.0,1349534.0,331.0,298970.0,2675395.0,2974365.0,3568351.0
2018,22/03/2021,Maharashtra,3973668.0,138780.0,5107.0,3144487.0,622278.0,1716433.0,1427710.0,344.0,357981.0,2786506.0,3144487.0,3766765.0
2019,23/03/2021,Maharashtra,4116072.0,144330.0,5155.0,3300203.0,649748.0,1801912.0,1497939.0,352.0,412877.0,2887326.0,3300203.0,3949951.0
2020,24/03/2021,Maharashtra,4307309.0,149043.0,5220.0,3490056.0,669780.0,1904378.0,1585305.0,373.0,458988.0,3031068.0,3490056.0,4159836.0
2021,25/03/2021,Maharashtra,4466527.0,154203.0,5326.0,3647933.0,685120.0,1992336.0,1655215.0,382.0,491933.0,3156000.0,3647933.0,4333053.0
2022,26/03/2021,Maharashtra,4669792.0,159296.0,5417.0,3846947.0,704824.0,2100879.0,1745671.0,397.0,522229.0,3324718.0,3846947.0,4551771.0
2023,27/03/2021,Maharashtra,4841597.0,164585.0,5622.0,4021836.0,718212.0,2195548.0,1825879.0,409.0,547205.0,3474631.0,4021836.0,4740048.0
2024,28/03/2021,Maharashtra,4857610.0,169139.0,5689.0,4038355.0,718936.0,2205071.0,1832875.0,409.0,550290.0,3488065.0,4038355.0,4757291.0
2025,29/03/2021,Maharashtra,4895234.0,172597.0,5708.0,4075506.0,721465.0,2225708.0,1849386.0,412.0,556492.0,3519014.0,4075506.0,4796971.0
2026,30/03/2021,Maharashtra,5047577.0,181034.0,5963.0,4224812.0,733774.0,2304713.0,1919677.0,422.0,580307.0,3644505.0,4224812.0,4958586.0
2027,31/03/2021,Maharashtra,5213641.0,187143.0,6265.0,4387945.0,749358.0,2393154.0,1994354.0,437.0,601535.0,3786410.0,4387945.0,5137303.0
2028,01/04/2021,Maharashtra,5404881.0,195434.0,6570.0,4557627.0,759579.0,2484800.0,2072376.0,451.0,623749.0,3933878.0,4557627.0,5317206.0
2029,02/04/2021,Maharashtra,5655831.0,203302.0,6757.0,4805368.0,772069.0,2619177.0,2185712.0,479.0,650813.0,4154555.0,4805368.0,5577437.0
2030,03/04/2021,Maharashtra,5924547.0,211138.0,6967.0,5045558.0,784171.0,2748524.0,2296538.0,496.0,669944.0,4375614.0,5045558.0,5829729.0
2031,04/04/2021,Maharashtra,6841397.0,525322.0,3715.0,6841397.0,805729.0,3682530.0,3158056.0,811.0,876863.0,6770263.0,6841397.0,7647126.0
2032,05/04/2021,Maharashtra,7167016.0,752060.0,5159.0,7167016.0,822149.0,3851303.0,3314856.0,857.0,894246.0,7094919.0,7167016.0,7989165.0
2033,06/04/2021,Maharashtra,7421245.0,719948.0,5124.0,7421245.0,835795.0,3983541.0,3436823.0,881.0,906206.0,7350834.0,7421245.0,8257040.0
2034,07/04/2021,Maharashtra,7988151.0,748140.0,5192.0,7988151.0,868513.0,4285845.0,3701369.0,937.0,938502.0,7918162.0,7988151.0,8856664.0
2035,08/04/2021,Maharashtra,8434286.0,723318.0,5242.0,8434286.0,903504.0,4529795.0,3903507.0,984.0,970024.0,8367766.0,8434286.0,9337790.0
2036,09/04/2021,Maharashtra,8702273.0,695890.0,4940.0,8702273.0,930126.0,4678646.0,4022623.0,1004.0,1000843.0,8631556.0,8702273.0,9632399.0
2037,10/04/2021,Maharashtra,8969876.0,626527.0,4275.0,8969876.0,953377.0,4827326.0,4141511.0,1039.0,1025624.0,8897629.0,8969876.0,9923253.0
2038,11/04/2021,Maharashtra,9220161.0,641340.0,4292.0,9220161.0,971735.0,4961415.0,4257679.0,1067.0,1043756.0,9148140.0,9220161.0,10191896.0
2039,12/04/2021,Maharashtra,9519815.0,722595.0,4880.0,9519815.0,1008604.0,5124361.0,4394334.0,1120.0,1075618.0,9452801.0,9519815.0,10528419.0
2040,13/04/2021,Maharashtra,9717561.0,788245.0,5532.0,9717561.0,1035890.0,5236582.0,4479847.0,1132.0,1086699.0,9666752.0,9717561.0,10753451.0
2041,14/04/2021,Maharashtra,10038913.0,834266.0,5854.0,10038913.0,1086062.0,5403569.0,4634179.0,1165.0,1103553.0,10021422.0,10038913.0,11124975.0
2042,15/04/2021,Maharashtra,10356338.0,852755.0,6005.0,10356338.0,1154685.0,5576754.0,4778365.0,1219.0,1129851.0,10381172.0,10356338.0,11511023.0
2043,16/04/2021,Maharashtra,10658902.0,850505.0,5884.0,10658902.0,1226928.0,5741917.0,4915732.0,1253.0,1161603.0,10724227.0,NaN,NaN
2044,17/04/2021,Maharashtra,10849828.0,728045.0,4921.0,10849828.0,1289143.0,5848545.0,4999988.0,1295.0,1206905.0,10932066.0,NaN,NaN
2045,18/04/2021,Maharashtra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN